SUPABASE_URL=https://svcxglllzjgykoibyrfi.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2Y3hnbGxsempneWtvaWJ5cmZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjYyNTc4MCwiZXhwIjoyMDk4MjAxNzgwfQ.ZHNEIoPgXcxuAUbk8xcVzZYqCvJs5h9vmO4IbTaNlvw
